<header style="height:5%">
  <div class="container-fluid" style="height: 100%;">
    <div class="row">
      <div class="col-3">
        <h3>Angular + Charts Demo</h3>
      </div>
      <div class="col-9">
        <ul class="list-inline">
          <li class="list-inline-item active" routerLinkActive="active" >
            <a routerLink="morris" >Morris</a>
          </li>
          <li class="list-inline-item" routerLinkActive="active">
            <a routerLink="chartist" >Chartist</a>
          </li>
          <li class="list-inline-item" routerLinkActive="active">
            <a routerLink="highcharts" >Highcharts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
